<div class="desktop shadowbox none">
  <div class="spinner_copy hide"> 

    <div class="bar1"> </div> 

    <div class="bar2"> </div> 

    <div class="bar3"> </div> 

    <div class="bar4"> </div> 

    <div class="bar5"> </div> 

    <div class="bar6"> </div> 

    <div class="bar7"> </div> 

    <div class="bar8"> </div> 

    <div class="bar9"> </div> 

    <div class="bar10"> </div> 

    <div class="bar11"> </div> 

    <div class="bar12"> </div> 

  </div>

  <div class="container_list_container">
  
    <div class="field">

      <div class='label' for="container_list">
        <span class="content chosen_top">
          <span class="container_label">Select Container</span>
        </span>
        <select id="container_list" name="container_list">
          <option value="">Fetching Containers</option>
          <option value="">No container here.</option>
          <option value="">Not here either.</option>
        </select>
        
        <span class="inline_left">
          <input type="checkbox" id="default_container" class="default_container_checkbox" name="default_container" class="left" />
        </span>
        <span>Make Default Container</span>
        
      </div>
            
    </div>

    <div class="field container_cname_default">

      <div class="label" for="container_cname">
        <input type="text" id="container_cname" class="container_cname" placeholder="img.cdn.foobar.com" name="container_cname" />
        <span>
          <span class="inline_left">CNAME (optional)</span>
        </span>
      </div>

    </div>

<!--    <div class="upload_container desktop upload">
      <button id="go">Pick a file and upload.</button>
    </div> -->

    <div class="drag_drop_container desktop upload">
  
      <div id="holder">
  
      </div>
  
    </div>
    
    
    <div class="results none">
    
      <a href="#" id="clear_results" class="large awesome fixed_bottom">Clear List</a>

    </div>
    

  </div>
  
</div>
